@import url('https://fonts.googleapis.com/css?family=Cinzel|Noto+Sans|Raleway');
html {
    background-color: #f7f7f7;
    background: url('https://firebasestorage.googleapis.com/v0/b/the-drinking-game-1.appspot.com/o/main-background.jpg?alt=media&token=f0b48c82-276e-4c01-bf60-31dae7168058') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.hide {
    display: none;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.games-menu-list-item {
    display: block;
    font-size: 18px;
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px;
    width: 300px;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #1E5199;
}

.games-menu-list-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.link {
    text-decoration: none;
}

.game-answer {
    width: 200px;
    height: 50px;
    font-size: 1.4rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    background-color: #1E5199;
    color: #f7f7f7;
}

.game-answer:hover {
    background-color: #13335f;
}

button:focus {
    outline: none;
}

.timer-text {
    font-size: 36px;
}

.answer-confirmation {
    font-size: 40px;
}

.drink-table {
    text-align: center;
}

.drink-table-person {
    margin: 7px;
    font-size: 24px;
}

.drink-table-person-info {
    display: block;
    color: #555555;
    font-size: 20px;
    font-style: italic;
}

.game-title {
    font-size: 26px;
    font-weight: normal;
    text-decoration: underline;
}

.title-with-tooltip {
    display: inline-block;
}

.icon {
    margin-left: 5px;
    vertical-align: baseline !important;
}

.tooltip {
    font-size: 18px !important;
}

.title {
    font-size: 3em;
    font-family: 'Cinzel', serif;
}

/* Scroll Bar Stuff */

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 3px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #1E5199;
    border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #13335f;
}