@import url('https://fonts.googleapis.com/css?family=Cinzel|Noto+Sans|Raleway|Stylish');
html {
    background-color: #f7f7f7;
    background: url('https://firebasestorage.googleapis.com/v0/b/the-drinking-game-1.appspot.com/o/main-background.jpg?alt=media&token=f0b48c82-276e-4c01-bf60-31dae7168058') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.hide {
    display: none;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.games-menu-list-item {
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    width: 300px;
    max-width: 90%;
    box-sizing: border-box;
    height: auto;
    margin: 20px auto;
    background: linear-gradient(to right, #efefef 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #1E5199;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

.games-menu-list-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.games-menu-list-item:active {
    background-position: left bottom;
}

.mobile-tooltip {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #000000e0;
    color: white;
    font-size: 18px;
}

.link {
    text-decoration: none;
}

.game-card {
    width: 80%;
    height: 200px;
    margin: 35px auto;
    padding: 20px;
    box-shadow: 0px 3px 10px black;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 12px;
}

.card-content {
    margin: 0px;
    font-size: 32px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.game-answer {
    width: 200px;
    height: auto;
    font-size: 1.4rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    background-color: #1E5199;
    color: #f7f7f7;
    padding: 10px 0px;
    box-sizing: border-box;
}

.game-answer:hover {
    background-color: #13335f;
}

button:focus {
    outline: none;
}

.timer-text {
    font-size: 36px;
    margin: 0px;
}

.answer-confirmation {
    font-size: 30px;
}

.drink-table {
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    width: 300px;
    max-width: 90%;
    min-height: 200px;
    box-sizing: border-box;
    margin: auto;
    padding: 1px 0px 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0px 0px 15px black;
    background: url('https://firebasestorage.googleapis.com/v0/b/the-drinking-game-1.appspot.com/o/beer-background-1.png?alt=media&token=24f19738-4526-4ca7-816b-747e179f5ca7');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.drink-table h1 {
    font-family: 'Stylish', sans-serif;
    font-size: 3em;
    margin: 10px;
}

.drink-table-person {
    margin: 7px;
    font-size: 24px;
}

.drink-table-person-info {
    display: block;
    color: #000000;
    font-size: 20px;
    font-style: italic;
}

.game-title {
    font-size: 26px;
    font-weight: normal;
    margin-top: 50px;
}

.title-with-tooltip {
    display: inline-block;
}

.icon {
    margin-left: 5px;
    vertical-align: baseline !important;
}

.tooltip {
    font-size: 18px !important;
}

.title {
    font-size: 3em;
    font-family: 'Cinzel', serif;
}

.title-font {
    font-family: 'Cinzel', serif;
}

/* Scroll Bar Stuff */

/* width */

::-webkit-scrollbar {
    width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 3px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #1E5199;
    border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #13335f;
}