.main-page {
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    
}

.main-page-label {
    margin-bottom: 0px;
    text-align: left;
    font-size: 24px;
}

.main-page-button,
.main-page-disabled-button {
    width: 175px;
    height: 44px;
    font-size: 1.4rem;
    border: none;
    border-radius: 50px;
    display: block;
    margin: 15px auto;
    background-color: #1E5199;
}

.main-page-button {
    background-color: #1E5199;
    color: #f7f7f7;
    cursor: pointer;
}

.main-page-disabled-button {
    background-color: #4c607b;
    color: #c2c2c2;
    cursor: not-allowed;
}

.main-page-button:hover {
    background-color: #13335f;
}

.main-page-button:focus {
    outline: none;
}

.new-game-div,
.join-game-div {
    width: 300px;
    margin: auto;
}

.main-page-input {
    display: block;
    width: 96%;
    box-sizing: border-box;
    margin: auto;
    height: 30px;
    font-size: 20px;
    padding: 2px 8px;
    border-radius: 100px;
    border: 1px solid black;
}

.main-page-input:focus {
    outline: none;
    border-color: #1E5199;
    box-shadow: 0px 0px 3px #1E5199;
}

.paypal {
    margin: 45px auto;
}