.round-table {
    margin: 50px auto;
    width: 96%;
    background-color: #ffffff91;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
}

.round-table-row {
    font-size: 1rem;
    text-align: left;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #0000002e;
}

.round-heading,
.game-heading {
    font-weight: bold;
    font-size: 20px;
}

.round-heading {
    margin: 10px 13px;
}

.game-heading {
    margin: 10px 35px;
}

.round-table-entry-round {
    display: inline-block;
    margin: 10px 60px 10px 40px;
}

.round-table-entry {
    display: inline-block;
}

.current-row {
    background-color: #1e51993b;
    font-weight: bold;
}

.podium-slot {
    border: 1px solid black;
    box-sizing: border-box;
}

.podium-slot-1 {
    height: 100px;
    border-color: #d5a500;
    background: linear-gradient(#d5a500, #fff5d2);
}

.podium-slot-2 {
    height: 75px;
    border-color: #b7b7b7;
    background: linear-gradient(#b7b7b7, #f5f5f5);
}

.podium-slot-3 {
    height: 50px;
    border-color: #a17419;
    background: linear-gradient(#a17419, #f7eedc);
}

.podium-div {
    display: inline-block;
    width: 30%;
    vertical-align: bottom;
}

.podium-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
}