.nhie-content {
    margin: 0px;
    font-size: 18px;
    margin-top: 28px;
    padding: 0px 6px;
}

.nhie-catch {
    line-height: 38px;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 60px;
    margin: 0px;
}