.trivia-card {}

.trivia-question {
    font-size: 24px;
    width: 95%;
    margin: 28px auto;
}

.trivia-answer {
    max-width: 300px;
    margin: 12px auto;
    overflow: hidden;
    border-radius: 12px;
    padding: 14px;
    background-color: #1E5199;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.trivia-answer:hover {
    background-color: #13335f;
}